*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
body {
    background-color: rgb(0, 0, 0);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

#menu ul {
    padding:0px;
    margin:0px;
    float: right;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font:80% Tahoma;
}

#menu ul li { display: inline; }

#menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
    padding: 2px 10px;
    float:right;
}

#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #EA0000;
}